// menu.scss

.site-menu {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  color: var(--black);
  z-index: 10;
  overflow-y: auto;
  pointer-events: none;
  clip-path: inset(100% 0% 0% 0%);
}

.site-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.5em;
  padding-block: 3em 2em;

  @media (max-width: 1024px) {
    gap: 0;
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.site-menu__image {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.site-menu__content {
  @media (max-width: 767px) {
    order: 3;
  }
}
