// menu.scss

.menu {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
  z-index: 10;
  overflow: hidden;
  pointer-events: none;
  clip-path: inset(100% 0% 0% 0%);
}
