// navbar.scss
@use "@mixins" as *;

.navbar {
  position: relative;
  @include flex-between;
  margin-top: 12.1875rem;
  padding-inline: 15rem;
  width: 100%;

  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: 13.125rem;
  line-height: normal;

  &__brand {
    font-weight: bold;
  }
}

.navbar__toggle {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 4.68rem;
  text-transform: uppercase;
  &--open {
    pointer-events: all;
  }

  &--close {
    pointer-events: none;
  }
  @media (max-width: 1024px) {
    left: 70%;
  }
  @media (max-width: 767px) {
    left: 60%;
  }
}

.navbar__toggle-text,
.navbar__login-text {
  overflow: hidden;
  height: 100%;
}

.navbar__toggle-label,
.navbar__login-label {
  display: block;
  transform: translate3d(0, 110%, 0);
  will-change: transform;
}

.navbar__login {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  padding: 4.68rem;
  text-transform: uppercase;

  @media (max-width: 767px) {
    left: 90%;
  }
}
