// _global.scss

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
  background-color: var(--white);
  color: var(--black);
  height: 100dvh;
}

.app {
  height: 100%;
  position: relative;
}
