// _typography.scss

html {
  font-size: calc(0.06944444444444445 * 1vw);
}

@media (max-width: 1024px) {
  html {
    font-size: calc(0.125 * 1vw);
  }
}

@media (max-width: 767px) {
  html {
    font-size: calc(0.2564102564102564 * 1vw);
  }
}

body {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: 21rem;
  line-height: 32rem;
  letter-spacing: -0.024em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-wrap: balance;
  font-kerning: normal;
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}
