// filter.scss

.gallery-filter {
  padding-top: 70.3125rem;
}

.filter-content {
  line-height: 100%;
}

.filter-options {
  grid-column: 2/3;
  margin-left: 30rem;
  line-height: 120%;
}

.filter-options button {
  width: max-content;
}

.filter-options span {
  color: var(--gray);
}
