// variables.scss

:root {
  --white: #ffffff;
  --gray-light: #a6a6a6;
  --gray: #969696;
  --black: #000000;
  --red: #e43b36;

  --font-primary: "Spectral", serif;

  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}
