// variables.scss

:root {
  --white: #ffffff;
  --gray-light: #a6a6a6;
  --black: #000000;
  --font-primary: "PPMori", sans-serif;
  --font-weight-light: 100;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
}
